.main-content {
  padding: 10px 200px;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    padding: 80px 50px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  padding: 20px;
  background: #1f2228;
  border-radius: 15px;
  text-align: center;
  transition: all 300ms;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card .fa-solid {
  font-size: 110px;
}

.card .fa-robot {
  font-size: 90px;
}